- course = local_assigns[:course] || @course
.card
  - form_url = (course.id) ? backend_kuwasys_course_path(course) : backend_kuwasys_courses_path
  = simple_horizontal_form_for(course, url: form_url) do |f|
    .card-block
      .row
        .col-xl-12.fit-halfed
          = f.input :name
      .row
        .col-xl-12.fit-halfed
          = f.input :description
      .row
        .col-xl-6
          = f.input :start_date
        .col-xl-6
          = f.input :end_date
      .row
        .col-xl-6
          = f.input :event_status, collection: all_event_statuses
      .row
        .col-xl-6
          = f.association :performers, label_method: lambda { |p| p.display_name }
    .card-footer
      .row
        .col-xl-6
          .form-group.row
            .col-sm-offset-3.col-sm-9
              = f.button :submit
              = cancel_back_link
