!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %title
      Basch

    = stylesheet_link_tag 'bs/frontend/application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'bs/frontend/application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    = render partial: 'layouts/bs/frontend/navbar'
    .main-container
      - if notice
        .alert.alert-info
          = notice
      - if alert
        .alert.alert-warning
          = alert
      = yield
    = render partial: 'layouts/bs/frontend/footer'
