%aside.nav-sidebar
  %ul.nav-sidebar__list
    %li.nav-sidebar__item.nav-sidebar__item--meta
      = link_to backend_users_path, class: "nav-sidebar__link #{active_sidebar_link('users')}" do
        = t('backend.pages.users.title')
    %li.nav-sidebar__item.nav-sidebar__item--menu
      = link_to backend_kuwasys_root_path, class: "nav-sidebar__link #{active_sidebar_link('kuwasys')}" do
        = t('backend.pages.kuwasys.title')
    %li.nav-sidebar__item.nav-sidebar__item--menu
      = link_to backend_semesters_path, class: "nav-sidebar__link #{active_sidebar_link('semesters')}" do
        = t('backend.pages.semesters.title')
    %li.nav-sidebar__item.nav-sidebar__item--menu
      = link_to backend_grades_path, class: "nav-sidebar__link #{active_sidebar_link('grades')}" do
        = t('backend.pages.grades.title')
      = link_to backend_locations_path, class: "nav-sidebar__link #{active_sidebar_link('locations')}" do
        = t('backend.pages.locations.title')
