!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %title
      Basch

    = stylesheet_link_tag 'bs/backend/application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'bs/backend/application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    #wrapper
      = render partial: 'layouts/bs/backend/nav_sidebar'
      = render partial: 'layouts/bs/backend/navbar'
      = render partial: 'layouts/bs/backend/page_context'
      .main-container
        = render partial: 'layouts/bs/backend/alerts'
        = yield
      = render partial: 'layouts/bs/backend/footer'
