!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %title
      Basch

    = env_stylesheet_link_tag(static: 'bs/backend/application_static',
                                hot: 'bs/backend/application_non_webpack',
                                media: 'all',
                                'data-turbolinks-track' => "reload")

    = env_javascript_include_tag(hot: ['http://localhost:3501/vendor-bundle.js',
                                         'http://localhost:3501/app-bundle.js'])

    = env_javascript_include_tag(static: 'bs/backend/application_static',
                                   hot: 'bs/backend/application_non_webpack',
                                   'data-turbolinks-track' => "reload")
    = csrf_meta_tags

  %body
    #wrapper
      = render partial: 'layouts/bs/backend/nav_sidebar'
      = render partial: 'layouts/bs/backend/navbar'
      = render partial: 'layouts/bs/backend/page_context'
      .main-container
        = render partial: 'layouts/bs/backend/alerts'
        = yield
      = render partial: 'layouts/bs/backend/footer'
