- user = local_assigns[:user] || @user
.card
  = #simple_form_for user, {url: backend_users_path}, html: {class: 'form-horizontal'}, wrapper: :horizontal_form do |f|
  = simple_horizontal_form_for(user, url: (user.id) ? backend_user_path(user) : backend_users_path) do |f|
    .card-block
      .row
        .col-xl-6
          = f.input :name
        .col-xl-6
          = f.input :username
      .row
        .col-xl-6
          = f.input :password
        .col-xl-6
          = f.input :password_confirmation
      .row
        .col-xl-6
          = f.input :email
        .col-xl-6
          = f.input :telephone
      .row
        .col-xl-6
          = f.input :birth_date, start_year: 1920
    .card-footer
      .row
        .col-xl-6
          .form-group.row
            .col-sm-offset-3.col-sm-9
              = f.button :submit
              = cancel_back_link
