.row
  .col-xl-3.card-col
    .card
      .card-block
        = link_to new_backend_user_path, class: 'btn btn-lg btn-block btn-primary-outline' do
          = t('helpers.submit.new', model: Bs::User.model_name.human)
    .card
      .card-header
        = t('helpers.label.filter')
      .card-block
  .col-xl-9.card-col
    .card
      .card-header
        = t('backend.users.user_list')
      %table.table.table-sm.table-striped
        %thead
          %tr
            %th= Bs::User.human_attribute_name(:name)
            %th= Bs::User.human_attribute_name(:username)
            %th= Bs::User.human_attribute_name(:email)
            %th= Bs::User.human_attribute_name(:telephone)
            %th= Bs::User.human_attribute_name(:birth_date)
            %th
        %tbody
          - @users.each do |user|
            %tr
              %td= user.name
              %td= user.username
              %td= user.email
              %td= user.telephone
              %td= user.birth_date
              %td
                - dropdownId = "user_actions_#{user.id}"
                = dropdown_config_toggle(dropdownId) do
                  - if policy(:backend).edit?
                    = link_to edit_backend_user_path(user), class: 'dropdown-item' do
                      = t('helpers.submit.edit', model: model_human)
                  - if policy(:backend).destroy?
                    = link_to backend_user_path(user), method: :delete, class: 'dropdown-item text-danger' do
                      = t('helpers.submit.delete', model: model_human)
      - if @users.total_pages > 1
        .card-footer
          .text-center
            = paginate @users
