.form-login
  %h2 Log in
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'horizontal-form'}) do |f|
    = f.input :login, autofocus: true, required: true, label: false, placeholder: f.object.class.human_attribute_name(:login)
    = f.input :password, autocomplete: "off", label: false, placeholder: f.object.class.human_attribute_name(:password)
    - if devise_mapping.rememberable?
      = f.input :remember_me, as: :boolean, inline_label: true
    = f.button :submit, class: 'btn-primary btn-block'
  = render "devise/shared/links"

